.home-page-out-container { 
    display: flex;
    justify-content: space-between;
  
}
.categories { 
   text-decoration: none;
   cursor: pointer;
}

.categories a {
    text-decoration: none; 
    color: #ffff;
    font-weight: bold;
  }