
.add-review-section h1 {
  text-align: center;
  color: #3C3D37;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
  
.no-reviews {
  text-align: center;
  font-size: 1.2rem;
  color: #697565;
}



/* review card styling */
.review-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.reviewer-name {
  font-weight: bold;
  color: #3C3D37;
  padding: 5px 10px;
  border-radius: 12px;
}

.review-body p {
  margin: 10px 10px;
  line-height: 1.6;
  color: #3C3D37;
}

/* add review styling */
.add-review-container {
  background-color: #ECDFCC;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.add-review-container h3 {
  text-align: center;
  color: #3C3D37;
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.add-review-container form {
  display: flex;
  flex-direction: column;
}

.adc-name,
.adc-review,
.adc-rating {
  margin-bottom: 15px;
}

.adc-name input,
.adc-review textarea,
.adc-rating input {
  width: 100%;
  padding: 10px;
  border: 1px solid #697565;
  border-radius: 5px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #343541;
}

.adc-review textarea {
  min-height: 100px;
  resize: none;
}

.add-review-container button {
  padding: 10px 15px;
  background-color: #343541; 
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-review-container button:hover {
  background-color: #444654; 
}

.add-review-container p {
  font-size: 0.9rem;
  color: #697565;
  text-align: right;
  margin-top: 5px;
}
