.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 740px;
  height: 300px;
}

.slide {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}


.slide-hidden {
  display: none;
}

.slide-title {
  position: absolute;
  bottom: 3.5rem;
  left: 80%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 5px #000;
  text-align: center;
  z-index: 2;
  white-space: nowrap;
  letter-spacing: 2px;
}
.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #555);
}
.arrow:hover {
  cursor: pointer;
}
.arrow-left {
  left: 1rem;
}
.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive { 
    background-color: orange;
}