.ctg-movies-list {
  padding-bottom: 50px;
  background-color: #121212;
  text-align: center;
  color: #bc2b2b;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ctg-movies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  max-width: 1200px;
  margin-top: 50px;

}

.ctg-movies-ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  justify-content: center;
}

.ctg-movies-ul li {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: solid 1px black;
}
.ctg-movies-ul li:hover {
  transform: translateY(-5px);
}

.ctg-movies-ul img {
  width: 100%;
  height: auto;
  max-height: 300px;
}

.ctg-movies-ul h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
  white-space: normal;
  word-wrap: break-word;
 
}

.ctg-movies-ul a {
  text-decoration: none;
  color: inherit;
}

.ctg-movies-list h1 { 
  margin-top:25px
  
}