.footer {
  display: flex;
  justify-content: space-around;
  background-color: #121212;
  padding: 10px;
  margin: 0 100px 0px 100px;
  border-radius: 0px 0px 10px 10px;
}
.footer h3,
h4,
p {
  color: #fff;
}
.footer h3 {
  font-size: 1.125rem;
  font-weight: bold;
}

.footer a {
  text-decoration: none;
}

.footer p {
  font-size: 0.875rem;
  line-height: 1.6;
  max-width: 1000px;
  text-align: justify;
  margin: 0 20px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-right: 10px;

}

.footer img {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease-in-out;
  margin-right: 5px;
}

.footer img:hover {
  transform: scale(1.1);
}
.social-media {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sm-ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.xx { 
  padding-bottom: 50px;
}